<!--The content below is only a placeholder and can be replaced.-->

	<!-- Header section -->
	<header>
	
    <mat-tab-group>
      <mat-tab label="Home" > </mat-tab>
      <mat-tab label="Shopping">  </mat-tab>
      <mat-tab label="Third"> </mat-tab>
    </mat-tab-group>
	</header>
  <!-- Header section end -->
  <br>
  <div>Total Price: {{Price}}</div>
  <div>Total Quantity: {{ProductNumber}}</div>
  <br>


  <h1>
    Welcome to {{ title }}!
  </h1>





  <mat-card class="example-card" *ngFor="let list of productList">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{list.proName}}</mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
      </mat-card-header>

      <div class="shop-item">
          <img mat-card-image [src] = list.image >
      </div>
      <mat-card-content>
          <mat-card-title>R{{list.price}}</mat-card-title>
        </mat-card-content> 

        <mat-form-field appearance="outline">
            <mat-label>Quantity</mat-label>
            <input matInput [(ngModel)]="list.quantity" (change)="countPrice(list)" >
            <mat-hint></mat-hint>
          </mat-form-field>

      <mat-card-actions>
          <button mat-flat-button color="primary"  (click)="quantity_inc(list)" >Add To Cart</button>
        </mat-card-actions>
    </mat-card>


<br><br>


<h1>Your Cart Product</h1>
<br>
  <div>Total Price: {{Price}}</div>
  <div>Total Quantity: {{ProductNumber}}</div>
  <br>
<mat-card class="example-card" *ngFor="let new of NewPro">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{new.proName}}</mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>
    </mat-card-header>

    <div class="shop-item">
        <img mat-card-image [src] = new.image >
    </div>
    <mat-card-content>
        <mat-card-title>R{{new.price}}</mat-card-title>
      </mat-card-content> 


      <button mat-flat-button color="primary"  (click)="quantity_dec(new)">Delete Cart</button>

    <mat-card-actions>
      </mat-card-actions>
  </mat-card>
<router-outlet></router-outlet>
